<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:util="http://www.springframework.org/schema/util"
xmlns:task="http://www.springframework.org/schema/task"
xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.1.xsd
	http://www.springframework.org/schema/util 
	http://www.springframework.org/schema/util/spring-util-4.1.xsd
	http://www.springframework.org/schema/task
	http://www.springframework.org/schema/task/spring-task-4.1.xsd">
	
	
	<!-- 扫描service、dao组件:cn.jingzztech.prac 下及所有子目录下注解bean -->
    <context:component-scan base-package="cn.jingzztech.prac..**.*" />
    <!-- 分解配置 jdbc.properites -->
    <context:property-placeholder location="classpath:jdbc.properties,classpath:conf.properties" />
    <!-- 任务注解驱动 -->
    <task:annotation-driven/>
    
    <!-- 配置文件读入器 -->
    <util:properties id="propertiesReader" location="classpath:conf.properties" />
    
	<!-- 引入其他配置文件 -->
	<import resource="mybatis-config.xml" />
	<import resource="redis-config.xml" />
	<import resource="quartz-config.xml" />
	<!-- <import resource="applicationMongo.xml" /> -->
	<!-- <import resource="dubbo-consumer.xml" /> -->

</beans>