<?xml version="1.0" encoding="UTF-8"?>  
<Configuration status="WARN">  
    <Appenders>  
        <Console name="Console" target="SYSTEM_OUT" follow="true">  
            <PatternLayout>  
                <pattern>%d %p %c.%M(%F:%L) - %m%n</pattern>  
            </PatternLayout>  
        </Console>  
        <File name="File" fileName="${catalina.home}/logs/brief-springboot/info.html">  
            <PatternLayout>  
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>  
            </PatternLayout>  
        </File>  
    </Appenders>  
    <Loggers>  
        <Logger name="org.apache.catalina.util.LifecycleBase" level="error" />  
        <Logger name="org.apache.coyote.http11.Http11NioProtocol" level="warn" />  
        <Logger name="org.apache.tomcat.util.net.NioSelectorPool" level="warn" />  
        <Logger name="org.hibernate.validator.internal.util.Version" level="warn" /> 
         
        <Logger name="org.springframework.web" level="debug" />  
        <Logger name="org.springframework" level="info" />  
        <Logger name="com.github" level="info" />  
        <Root level="info">  
            <AppenderRef ref="Console" />  
        </Root>  
    </Loggers>  
</Configuration> 