<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jingzztech.prac.mybatis.mapper.TestTableMapper" >
  <resultMap id="BaseResultMap" type="cn.jingzztech.prac.mybatis.bean.TestTable" >
    <constructor >
      <idArg column="test_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="test_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="test_date" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="test_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    test_id, test_name, test_date, test_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from test_table2
    where test_id = #{testId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from test_table2
    where test_id = #{testId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.jingzztech.prac.mybatis.bean.TestTable" >
    insert into test_table2 (test_id, test_name, test_date, 
      test_time)
    values (#{testId,jdbcType=INTEGER}, #{testName,jdbcType=VARCHAR}, #{testDate,jdbcType=DATE}, 
      #{testTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.jingzztech.prac.mybatis.bean.TestTable" >
    insert into test_table2
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="testId != null" >
        test_id,
      </if>
      <if test="testName != null" >
        test_name,
      </if>
      <if test="testDate != null" >
        test_date,
      </if>
      <if test="testTime != null" >
        test_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="testId != null" >
        #{testId,jdbcType=INTEGER},
      </if>
      <if test="testName != null" >
        #{testName,jdbcType=VARCHAR},
      </if>
      <if test="testDate != null" >
        #{testDate,jdbcType=DATE},
      </if>
      <if test="testTime != null" >
        #{testTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.jingzztech.prac.mybatis.bean.TestTable" >
    update test_table2
    <set >
      <if test="testName != null" >
        test_name = #{testName,jdbcType=VARCHAR},
      </if>
      <if test="testDate != null" >
        test_date = #{testDate,jdbcType=DATE},
      </if>
      <if test="testTime != null" >
        test_time = #{testTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where test_id = #{testId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.jingzztech.prac.mybatis.bean.TestTable" >
    update test_table2
    set test_name = #{testName,jdbcType=VARCHAR},
      test_date = #{testDate,jdbcType=DATE},
      test_time = #{testTime,jdbcType=TIMESTAMP}
    where test_id = #{testId,jdbcType=INTEGER}
  </update>
</mapper>