<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.followtry.mybatis.xml.mapper.UserMapper">
	
	<resultMap type="cn.followtry.mybatis.bean.User" id="BaseResultMap" autoMapping="true" >
		<id column="id" property="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
		<result column="name" property="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result column="age" property="age" javaType="java.lang.Integer" jdbcType="INTEGER"/>
		<result column="date" property="date" javaType="java.util.Date" jdbcType="DATE"/>
	</resultMap>
	<select id="getUserById" resultMap="BaseResultMap">
	   select * from user



	   <if test="id != null">
	   <where>
			 name = #{name}
			 and id =${id}
			 and id = ${user.id}
			 and id = ${@@abs(-12345678)}
			 and id = ${@Integer@parseInt("654")}
			 and id='${@cn.followtry.mybatis.bean.User@name()}'
			 and id='${@org.apache.commons.lang3.math.NumberUtils@isNumber("abcd")}'
			 and id='${new cn.followtry.mybatis.bean.User()}'
			 and id=${@cn.followtry.mybatis.bean.User@haha}
			 and id='${@cn.followtry.mybatis.bean.User@arr[1]}'
			 and id='${@cn.followtry.mybatis.bean.User@list[1]}'
			 and id='${@cn.followtry.mybatis.bean.User@map.get("123")}'
			and id='${@cn.followtry.mybatis.bean.CodeTypeEnum@THREE.ordinal()}'
		 </where>
		 </if>


	   limit 100
	</select>
    <select id="getUserList" resultType="cn.followtry.mybatis.bean.User">
		select *
		from user
		where
		id in
		<foreach collection="param.user.ids" open="(" close=")" separator="," item="ida">
		#{ida}
</foreach>
	</select>

    <insert id="insert" timeout="2000" keyProperty="id" useGeneratedKeys="true">
		insert into user(name) values(#{name})
	</insert>

</mapper>